body {
}
header {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #efefef;
    border-bottom: 1px solid #666
}
#contents {
    max-width: 960px;
    height: 600px;
    background-color: #fefefe;
    margin: 0 auto;
}
footer {
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: #e3e3e3;
    border-top: 1px solid #666
}
nav ul {
    width: 100%;
    text-align: center;
}
nav ul li{
    display: inline;
    padding: 20px;
}

/* clearfix
--------------------------------------*/        
.clearfix:after{
	  content: "."; 
	  display: block; 
	  height: 0; 
	  font-size:0;	
	  clear: both; 
	  visibility:hidden;
}


h1,h2,h3{
	font-weight: lighter;
	color: #555;

	/*フォントサイズ調整*/
	h1 {
		font-size: 42px;
	}
	h2 {
		font-size: 38px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font: 14px;
	}

}